.container {
    position: relative;
}

.products {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: left;
    overflow: hidden;
}

.products figure {
    /*height: 274px;*/
	height: 200px;
    margin: -20px -20px 20px;
    overflow: hidden;
}

.products figure img {
    width: 100%;
}

.products p {
    font-family: 'Montserrat-Regular';
    color: #777;
}

.dummy-readmore {
    width: 85px;
    display: block;
    margin: auto 0 0 auto;
    font-size: 13px;
    font-family: 'Montserrat-Medium';
}

.dummy-readmore img {
    width: 9px;
}

.products:hover figure, .products:hover h4, .products:hover p, .products:hover .dummy-readmore {
    -webkit-filter: grayscale(12);
    filter: grayscale(12);
    transition: 400ms ease;
}

.filter-control {
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin: 0 0 40px;
}

.filter-control:after {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.filter-control button {
    position: relative;
    margin: 0 3px;
    padding: 5px 9px;
    border: none;
    background-color: transparent;
    color: #777;
    font-size: 13px;
    font-family: 'Montserrat-Medium';
    transition: 300ms ease;
}

.filter-control button.mixitup-control-active {
    color: #058100;
}

.filter-control button:before {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #058100;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    transition: 300ms ease;
}

.filter-control button.mixitup-control-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.dropdown-toggler {
    display: none;
}

@media(min-width: 768px) {
    .filter-control {
        margin: 0 0 60px;
    }
    .filter-control button {
        margin: 0 10px;
        padding: 5px 10px;
        font-size: 16px;
    }
}

@media(min-width: 768px) and (max-width:1023px) {
    .shuffle-it .col-xs-12.col-md-4 {
        width: 50%;
    }
}

@media(max-width: 1023px) {
    .filter-control {
        min-width: 180px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 43px;
        left: 50%;
        z-index: 1;
        background-color: #ebebeb;
        box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, .7);
        -webkit-transform: translateX(-50%) scaleY(0);
        transform: translateX(-50%) scaleY(0);
        transform-origin: top center;
        overflow: hidden;
        transition: 300ms ease;
    }
    .filter-control.open {
        -webkit-transform: translateX(-50%) scaleY(1);
        transform: translateX(-50%) scaleY(1);
    }
    .dropdown-toggler {
        display: block;
        position: relative;
        margin: 0 auto 20px;
        padding: 5px 20px 5px 8px;
        border: none;
        background-color: transparent;
        color: #058100;
        border-bottom: 1px solid;
        font-size: 16px;
        font-family: 'Montserrat-Medium';
        transition: 300ms ease;
    }
    .dropdown-toggler:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        border-top: 8px solid #058100;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transform: translateY(-50%);
    }
}

.col:hover .link-overlay, .col.hovered+.col+.col+.col+.col:hover .link-overlay, .col.prev:hover+.col .link-overlay {
-webkit-transform: none;
transform: none;
visibility: visible;
transition-delay: 0s;
}
.col.hovered+.col+.col+.col+.col .link-overlay {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}